<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Immanuel Azarya Garibaldi - 001202100116</title>
    <link rel="stylesheet" href="static/stylesheet.css">
    <script type="text/javascript" src="static/score.js"></script> 
    <script type="text/javascript" src="static/sqrt.js"></script> 
    <script type="text/javascript" src="static/hypotenuse.js"></script> 
</head>
<body>
   {{{ body }}} 
</body>
</html>
