<div class="container">
<div class="container-inner">
<a href="/">Index</a>
<p>Please choose the app that you'd like to use : </p>
<ul>
    <li><a href="/score">Score Converter</a></li>
    <li><a href="/sqrt">Find number square root</a></li>
    <li><a href="/hypotenuse">Find hypotenuse</a></li>
</ul>
</div>
</div>
