<div class="container">
<div class="container-inner">
<a href="/">Index</a>
<p>Find hypotenuse</p>
<input id="sideA" type="number" name="sideA" placeholder="Input length of A">
<input id="sideB" type="number" name="sideB" placeholder="Input length of B">
<button type="submit" onclick="hypotenuse()">Find Hypotenuse</button>
<div>
<p id="hypotenuseResult">Please input the side A and B above</p>
</div>
</div>
</div>
