<div class="container">
<div class="container-inner">
<a href="/">Index</a>
<p>Convert student score</p>
<input id="intScore" type="number" name="intScore" placeholder="Input score">
<button type="submit" onclick="convert()">Convert</button>
<div>
<p id="stringScore"></p>
</div>
</div>
</div>
