<div class="container">
<div class="container-inner">
<a href="/">Index</a>
<p>Find square root of number</p>
<input id="numSquared" type="number" name="numSquared" placeholder="Input number">
<button type="submit" onclick="squareRoot()">Square Root</button>
<div>
<p id="numSquareRoot"></p>
</div>
</div>
</div>
